.link {
    cursor: text;
    display: flex;
    gap: 8px;
    text-decoration: none;
}

.link_inactive {
    cursor: pointer;
    transition: opacity .2s ease;
}

.link_inactive:hover {
    opacity: .8;
}